<form (ngSubmit)="register()" [formGroup]="registerForm">
    <div class="container   mt-3 p-3 "></div>
    <h1 class="text-center text-white">Login Page</h1>
    <div class="mt-2 p-2 text-center">
        <input type="text" name="uname" id="uname" formControlName="uname" placeholder="UserName">
    </div>
    <div class="mt-2 p-2 text-center">
        <input type="text" name="acno" id="acno" formControlName="acno"  placeholder="AcntNumber">
    </div>
    
    <div class="mt-2 text-center p-2">
        <input type="password" name="psw"  formControlName="psw" formControlName="psw" id="psw" placeholder="Password">
    </div>
    <div class="text-center mt-2 p-2">
        <button type="submit"  class="btn btn-success">Register</button>
    </div>
</form>